<div class="main-div">
  <div class="inside-box-div">
    <div><p>This page is in Building Process</p></div>
    <div>
      <%= link_to '/', class:"back-buttons" do %> Go Back To Home <%end%>
    </div>
  </div>
</div>
