* {
  list-style: none;
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none !important;
}
.logo {
  color: var(--white);
}
.logo:hover {
  color: var(--secondary);
}
.second-nav a {
  text-decoration: none;
  color: var(--primary);
}
.first-nav {
  background-color: var(--primary);
  height: 80px;
  display: flex;
  color: var(--white);
}

.box-holder {
  float: right;
}
.box-holder li {
  display: inline-block;
  font-size: 32px;
  padding: 20px;
  margin-top: -4px;
}
.box-holder em {
  color: var(--white);
}
.box-holder em:hover{
  color: var(--secondary);
}
.dropdown {
  position: relative;
  z-index: 20;
}


.dropdown-menu.show{
  background-color: var(--primary);
  border: 2px solid var(--secondary);

}
.dropdown-item{
  font-size: 1.5rem;
  color: var(--white) !important;
  display: flex;
 
}
.bx.bx-log-out{
  font-size: 1.7rem;
  
}
.dropdown-item:hover{
  background-color: transparent !important;
  
}
.user-name{
  color: var(--white);
  font-size: 2rem;
  text-transform: capitalize;
}
.class_link {
  color: var(--white);
}
.class_link p {
  color: var(--black);
}
.class_link:hover{
  color: var(--secondary);
}
.logo {
  font-size: 32px;
  text-transform: capitalize;
  padding: 0 50px;
}
.first-nav input {
  border-radius: 30px;
  padding: 0px 10px;
  margin-left: 100px;
  margin-top: 20px;
  height: 35px;
  width: 400px;
  border: none;
}
.first-nav span em {
  font-size: 18px;
  margin-left: -40px;
  color: var(--black);
}
.second-nav {
  text-align: center;
  height: 50px;
  width: inherit;
  padding-top: 10px;
  background-color: var(--secondary);
}
.second-nav li {
  display: inline-block;
  margin-left: 50px;
  font-size: 18px;
}
.second-nav a:hover {
  color: var(--primary);
  border-bottom: 2px solid var(--primary);
  font-weight: 500;
}

#demo img {
  /* padding: 15px; */
  height: 400px;
  width: 100%;
}
#demo {
  /* margin-left: 150px; */
  /* margin-top: 10px; */
  height: 400px;
  width: 100%;
}
.carousel-indicators .button {
  height: 70px;
  width: 70px;
  outline: var(--black);
  background-color: rgba(0, 0, 0, 0.3);
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 1px solid var(--black);
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: var(--black);
  background-color: rgba(0, 0, 0, 0.3);
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 1px solid var(--black);
}
.main_div {
  background-color: var(--tertiary);
  width: 100%;
  position: relative;
}
.brands_logo {
  width: 80%;
  margin-left: 150px;
}
.main_div .brands_logo h3 {
  text-align: center;
  font-size: 32px;
  padding-top: 20px;
  padding-bottom: 5px;
}
.brand-holder {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100px;
  overflow: hidden;
}
.brand-holder li {
  margin: 10px;
}
.container h1 {
  text-align: center;
  font-size: 20px;
  padding: 20px;
}
.row.row-cols-1.row-cols-md-4.g-4 .card-img-top {
  height: 250px;
  margin-top: 10px;
  padding: 0;
  border: 1px solid grey;
}
.row.row-cols-1.row-cols-md-4.g-4 {
  position: relative;
  justify-content: center;
}
.container .row.row-cols-1.row-cols-md-4.g-4 .card {
  margin: 20px;
  overflow: hidden;
}

.home_offer_img1 {
  border-radius: 20px;
  margin-left: 30px;
}
.main-div {
  background-color: var(--secondary);
  height: 100vh;
  align-items: center;
  display: flex;
  justify-content: center;
}
.inside-box-div {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
  background-color: var(--primary);
  width: 500px;
  height: auto;
  display: block;
  padding: 10px;
  justify-content: center;
  text-align: center;
  margin-top: 0%;
  border-radius: 5px;
  color: var(--secondary);
}
.back-buttons {
  padding: 5px;
  width: 140px;
  height: 40px;
  border: none;
  margin-bottom: 20px;
  margin-top: 10px;
  background-color: var(--tertiary);
  color: var(--primary);
  transition: ease-in-out 0.2s;
}

.back-buttons:hover {
  background-color: var(--secondary);
  color: var(--primary);
  border-radius: 5px;
}

.back-buttons:focus {
  outline: none;
  box-shadow: 0px 0px 5px var(--primary);
}

/* .home_offer_img2 {
  border-radius: 20px;
}
.home_offer_img3 {
  border-radius: 20px;
}
.home_offer_img4 {
  border-radius: 20px;
}
.home_offer_img5 {
  border-radius: 20px;
} */



@media (max-width: 900px) {
  .first-nav {
    background-color: blue;
  }
}
.apply_filter_button{
  width: 100px;
  margin-left: -100px;
}


/* prev - next button coursel 
 */
