/* // Place all the styles related to the lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/ */

.list_img {
    width: 250px;
    height: 200px;
}
.invisible_search {
    position: absolute;
    z-index: -1;
}
.search_filter_div {
    position: absolute;
    top: 0;
    left: 23%;
}

.box-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-bottom: 1px solid black;
    /* background-color: aqua; */
}
.list_content {
    /* background-color: aqua; */
    width: 250px;
    /* line-height: 50px; */
}
.list_content li {
    position: relative;
    font-size: 1.5rem;
    margin-bottom: 14px;
    padding-bottom: 4px;
    letter-spacing: 1px;
    cursor: pointer;
    border-bottom: 2px solid rgba(0, 0, 0, 0.216);
    /* background-color: blueviolet; */
    width: 230px;
}
.image_content img {
    border: 1px solid black;
    width: 290px;
    height: 250px;
}
.catogeries_main_div {
    position: relative;
    /* background-color: aqua; */
}
.catogeries_sub_div {
    position: absolute;
    /* background-color: blue; */
    top: 50px;
    left: 13%;
    width: 77%;
    justify-content: space-between;
    display: flex;
}
.ul-list {
    position: relative;
    left: -20px;
}
.list_content_div {
    display: flex;
    position: relative;
    /* background-color: brown; */
    border-left: 1px solid black;
    border-right: 1px solid black;
    /* left: -20px; */
}
.icon_content_div {
    position: absolute;
    bottom: 20px;
    right: 10px;
}
.icon_content_div a {
    text-decoration: none;
    font-size: 1.5rem;
    color: black;
}
.price_div {
    display: flex;
}
.product_list_div {
    position: relative;
    /* background-color: aqua; */
    padding-left: 1%;
    border-left: 1px solid black;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;
}
.bxs-down-arrow {
    font-size: 0.7rem;
    position: relative;
    font-weight: 500;
    /* left: 30px; */
    color: rgb(49, 49, 49);
}
.down-arrow {
    position: absolute;
    right: 0;
    text-align: right;
}
.sub-btn {
    position: relative;
}
.bt {
    height: 40px; 
}
.btn1 {
    width: 142px;
    border: 1px solid black;
    border-bottom: none;
}
.btn2 {
    width: 143px;
    border: 1px solid;
    border-bottom: none;
}
