/* // Place all the styles related to the lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/ */

.list_img {
    width: 250px;
    height: 200px;
}
.invisible_search {
    position: absolute;
    z-index: -1;
}
.search_filter_div {
    position: absolute;
    top: 0;
    left: 23%;
}

.list_content {
    width: 250px;
    /* border: 2px solid red; */
    overflow: hidden;
   
}
.list_content li {
    position: relative;
    font-size: 1.5rem;
    margin-bottom: 14px;
    padding-bottom: 4px;
    letter-spacing: 1px;
    cursor: pointer;
    border-bottom: 2px solid rgba(0, 0, 0, 0.216);
    width: 230px;
}
.image_content img {
    border: 1px solid var(--black);
    width: 290px;
    height: 250px;
}
.catogeries_main_div {
    position: relative;
}
.catogeries_sub_div {
    position: absolute;
    top: 50px;
    left: 13%;
    width: 77%;
    justify-content: space-between;
    display: flex;
}

.product_list_div {
    position: relative;
    padding-left: 1%;
    border-left: 1px solid var(--black);
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;
}

.sub-btn {
    position: relative;
}
.bt {
    height: 40px; 
}
.btn1 {
    width: 142px;
    border: 1px solid var(--black);
    border-bottom: none;
}
.btn2 {
    width: 143px;
    border: 1px solid;
    border-bottom: none;
}
