/* // Place all the styles related to the registration controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/ */

.form-parent {
  background-color: var(--primary);
  height: 100vh;
  align-items: center;
  display: flex;
  justify-content: center;
}

.form-child {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
  background-color: var(--secondary);
  width: 500px;
  height: auto;
  display: block;
  padding: 10px;
  justify-content: center;
  text-align: center;
  margin-top: 0%;
  border-radius: 5px;
  color: var(--primary);
}

.flash-error {
  color: red;
}

.form-box {
  padding-left: 15px;
  width: 300px;
  height: 50px;
  border: none;
  outline: none;
  margin-bottom: 20px;
  margin-top: 10px;
  color: var(--primary);
}

.form-box::placeholder {
  color: var(--primary);
}

.form-box:focus {
  outline: none;
  box-shadow: 0px 0px 5px #808077;  
  border-color: #808077;
}
.form-box:hover {
  border-radius: 5px;
  color: var(--primary);
}

.form-buttons {
  padding: 5px;
  width: 140px;
  height: 40px;
  border: none;
  margin-bottom: 20px;
  margin-top: 10px;
  background-color: var(--tertiary);
  color: var(--primary);
  transition: ease-in-out 0.2s;
}

.form-buttons:hover {
  background-color: var(--primary);
  color: var(--secondary);
  border-radius: 5px;
}

.form-buttons:focus {
  outline: none;
  box-shadow: 0px 0px 5px var(--primary);
}

.p-sign {
  color: #808077;
  text-decoration: none;
}

.btn-sign {
  color: var(--primary);
  text-decoration: none;
}

.btn-sign:hover {
  color: var(--primary);
  cursor: pointer;
}
