/* // Place all the styles related to the shows controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/ */

.wl-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 30px;
    margin-right: 20px;
    padding: 10px;
}

.listing-box{
    margin: 15px;
    padding: 7px;
    float: left;
    margin-left: 0;
    margin-bottom: 0;
    /* background-color: aqua; */
}
.wish-price {
    font-size: 20px;
    font-weight: bold;
    margin-left: 5px;
    padding: 2px;
}
.wishlt-details-div{
    border: 2px solid var(--black);
    border-top: transparent;
    
}
.wish-img {
    width: 300px;
    height: 200px;
    border: 2px solid var(--black);
}
.fa-solid.fa-xmark {
    font-size: 20px;
    color: var(--black);

}
.btn-redirect {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.xmark-div {
    border: 2px solid var(--black);
    width: 50px;
    padding: 5px;
    padding-left: 15px;
    margin: 5px;
}
.btn-cart {
    width: 170px;
    height: auto;
    padding: 5px;
    margin: 5px;
    text-align: center;
    border: 2px solid var(--black);
    background-color: var(--white);
}

.quantity {
    font-size: 20px;
    margin: 5px;
    padding: 5px;

}

.cart-total {
    position: fixed;
    top: 20%;
    right: 2%;
    margin: 10px;
    padding: 10px;
    color: var(--black);
    width: 300px;
    height: 500px;
    border: 2px solid var(--black);
    margin-right: 0;
    margin-bottom: 0;
    /* background-color: blue; */
}